/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*------------------------*/
/*------ BASE STYLES -----*/
/*------------------------*/
html {
  background-color: #272725;
  font-family: 'Open sans', sans-serif;
}


header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: white;
  padding: 1em 0 1em 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0px;
}

figure {
  margin: 0;
}

.logo-letters {
  width: 100%;
}

/*------------------------*/
/*------ Header STYLES -----*/
/*------------------------*/

header {
  position: fixed;
  display: flex;
  justify-content: center; /*flex-start;*/
  align-items: center;
  z-index: 10;
  background-color: rgb(0,0,0,0.6) /*Desktop : rgb(0,0,0,0) */
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap; /* column */
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;  /* column */
  color: white;
  font-size: 0.8em;
  padding: 5px;
}

.menu ul li {
  text-decoration: none;
  list-style: none;
  padding: 0px 5px; /*10px 0;*/ /* separation of menu items */
  width: 100%; /*100px*/
  text-align: center;
}

.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 0px; /* 0 10px increase hover color box size of menus items */
}

.menu ul li a:hover {
  background-color: #FF6000;
  padding: 5px;
}

.highlight {
  font-weight: bold;
}

.fullscreen-bg { /* fullscreen video background styles */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 70vh;
  overflow: hidden; /* hide whats flowing over viewport */
  width: 100%;
}

.video-overlay {
  background-color: rgba(255, 96, 0 ,0.5); /* have a color overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%; /* needs to be the same as fullscreen-bg height */
}

.content-wrapper-home { # description section with logo
  display: flex;
  align-items: center;
  justify-content: center; /* to have the items spread over whole screen */
  flex-flow: column;
  background-color: #E3E3E0;
}

.content-wrapper-home p {
  color: #272725;
  padding: 10px;
}

.logo { /* size on page */
  width: 90%; /* desktop: 20%*/
  padding: 10px; /*  desktop: padding: 10px 20px 10px 50px;*/
  margin: 0px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 0 50px 10px 50px; /* space to page border on left and right side = 50px */
}

.social-media i {
  color: #272725;
  margin: 0 5px;
  font-size: 1.3em;
}

.social-media i:hover {
  color: #FF6000;
}

/*------------------------*/
/*------- gallery --------*/
/*------------------------*/

.content-wrapper-gallery {
    display: flex;
    align-items: center; /* desktop: flex-start; */
    justify-content: center;
    flex-flow: column; /* row wrap; */
    padding-bottom: 40vh;
    height: auto;
    overflow: auto;
}

.content-wrapper-gallery h2 { /* photos header */
  margin: 0;
}

.container-gallery {
	width: 100%;
	height: 100%;
}

.trans {
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.top {
	display: flex !important;
	width: 80vw;
	height: 80vh;
	margin-top: 0vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0vh;
}

.top ul {
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top ul li
{
	position: relative;
	float: left;
	width: 50%; /* size of the gallery preview images, desktop: 33%  */
	height: 30%; /* size of the gallery preview images desktop: 35% */
	overflow: hidden;
}

.top ul li::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	color: white;
	opacity: 0.4;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
	opacity: 0;
	background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lightbox
{
	position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}

.lightbox img
{
	max-width: 90%;
	max-height: 80vh;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target
{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.gallery-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#img-1 {
  background-image: url('../img/gallery-img-1.jpg');
}

#img-2 {
  background-image: url('../img/gallery-img-2.jpg');
}

#img-3 {
  background-image: url('../img/gallery-img-3.jpg');
}

#img-4 {
  background-image: url('../img/gallery-img-4.jpg');
}

#img-5 {
  background-image: url('../img/gallery-img-5.jpg');
}

#img-6 {
  background-image: url('../img/gallery-img-6.jpg');
}

#img-7 {
  background-image: url('../img/gallery-img-7.jpg');
}

#img-8 {
  background-image: url('../img/gallery-img-8.jpg');
}

#img-9 {
  background-image: url('../img/gallery-img-9.jpg');
}

#img-10 {
  background-image: url('../img/gallery-img-10.jpg');
}

#img-11 {
  background-image: url('../img/gallery-img-11.jpg');
}

#img-12 {
  background-image: url('../img/gallery-img-12.jpg');
}



/*------------------------*/
/*------- about me --------*/
/*------------------------*/

.about-me-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E3E3E0;
}

.about-me-section
h1,
p {
  color: #272725;
}

.portrait-figure {
  width: 100%;
}

.content-wrapper-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap-reverse;
  width: 90%;
}

.content-wrapper-about figure {
  width: 30%;
  padding: 30px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.contact-me-btn button {
  background-color: #FF6000;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  color: #E3E3E0;
  margin: 20px;
}

.contact-me-btn button:hover {
  background-color: #FF8000
}

/**************************/
/******** video section ***/
/**************************/

.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 30px;
  background-color: #E3E3E0;
}

.video-section h1 {
  color: #222222;
}

.container div {
  display: inline-block;
  display: none;
}

.video-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

.next, .prev {
  background-color: transparent;
  border: none;
  color: #FF6000;
  border-color: transparent;
}

/*********************************/
/******** testemonial section ***/
/********************************/

.testimonial-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.testimonial-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 10px 0;
  width: 60%;
}

.highlight-testim, .highlight-news {
  text-transform: uppercase;
  color: #FF6000;
}

.highlight-testim:hover {
  background-color: #FF6000;
  color: #fff;
  cursor: none;
}

.light-font-color {
  color: #F9F9F6;
}

.slider-btn {
  background: transparent;
  border: none;
}

.slider-btn:focus {
  border: none;
}

/*---------------------------*/
/*-------- CONTACT ---------*/
/*--------------------------*/

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 30px;
}

.contact-form-wrapper {
  border-radius: 5px;
  width: 60%;
  max-width: 300px;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 10px;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  border: none !important;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group {
  margin: 10px 0;
}

input::placeholder {
  color: #FF6000;
}

input[type="submit"] {
  background-color: #FF6000;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  color: #E3E3E0;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #FF8000
}

/*---------------------------*/
/*-------- Footer ---------*/
/*--------------------------*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background-color: #E3E3E0;
  width: 100%;
}

footer p {
  color: #7B7B78;
  font-size: 0.6em;
}

.brand-figure {
  width: 100%;
}

.social-media-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 40%;
  max-width: 50%;
  padding-top: 20px;
  padding-bottom: 5px;
}

.social-media-icon-wrapper i {
  padding: 0 5px;
  font-size: 1.3em;
  color: #FF6000;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.footer-container a {
  width: 2%;
  padding-left: 2px;
}

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /******** DESKTOP ***************/
   @media only screen and (min-width: 790px) {
     .fullscreen-bg { /* fullscreen video background styles */
       height: 87vh;
     }

     .video-overlay {
       height: 87%; /* needs to be the same as fullscreen-bg height */
     }

     .content-wrapper-home { # description section with logo
       justify-content: space-between; /* to have the items spread over whole screen */
       flex-flow: row nowrap;
     }

     .logo { /* size on page */
       width: 20%; /* desktop: 20%*/
       padding: padding: 10px 20px 10px 50px;
     }

     /* gallery images */
     .top ul li
     {
     	width: 33%; /* size of the gallery preview images  */
     	height: 35%; /* size of the gallery preview images */
     }

     .social-media-icon-wrapper {
       width: 15%;
       padding-bottom: 20px;
     }

     .social-media-icon-wrapper i {
       font-size: 2em;
     }

   }


   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */


}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
